[build-system]
requires = ['setuptools', 'poetry_core>=1.0']
build-backend = 'poetry.core.masonry.api'

[tool.poetry]
name = 'tikzify'
version = "0.14.0"
description = 'Utilities for programmatically generating TikZ code.'
license = 'MIT'
authors = ['Neil Girdhar <mistersheik@gmail.com>']
readme = 'README.rst'
repository = 'https://github.com/NeilGirdhar/tikzify'
classifiers = [
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Topic :: Scientific/Engineering :: Visualization',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'License :: OSI Approved :: MIT License']

[tool.poetry.dependencies]
python = '>=3.10,<3.11'
more_itertools = '^8'
networkx = '^2.5'
numpy = '^1.21'
tjax = '>=0.7.11'

[tool.poetry.dev-dependencies]
flake8 = '>=3.9'
isort = '>=5.8'
jupyter = '>=1'
jupyter-client = '>=7'
mypy = '>=0.900'
pylint = '>=2.8'
pyproject-flake8 = ">=0.0.1a2"
pyright = ">=0.0.13"
pytest = '^6'

[tool.flake8]
max-line-length = 100
extend-ignore = "E741"
per-file-ignores = """
    __init__.py: F401, F403, F821
"""

[tool.isort]
line_length = 100
multi_line_output = 0
skip_glob = ['.pytype/*.py']

[tool.pycodestyle]
max-line-length = 100
exclude = ['__init__.py', '__pycache__', 'README.rst']

[tool.pytest]

[tool.pytype]
disable = 'ignored-abstractmethod'

[tool.pylint.master]
jobs = 0

[tool.pylint.messages_control]
disable = [
    'abstract-method',
    'arguments-differ',
    'invalid-name',
    'invalid-unary-operand-type',
    'missing-docstring',
    'no-member',
    'too-few-public-methods',
    'too-many-ancestors',
    'too-many-arguments',
    'too-many-branches',
    'too-many-instance-attributes',
    'too-many-locals',
    'too-many-public-methods',
    'too-many-return-statements',
    'too-many-statements',
    'unused-argument']
enable= [
    'useless-suppression',
    'use-symbolic-message-instead']

[tool.pylint.reports]
output-format = 'colorized'

[tool.pylint.similarities]
min-similarity-lines = 20
ignore-imports = 'yes'

[tool.pyright]
stubPath = ""
reportPrivateImportUsage = false
# reportUnnecessaryTypeIgnoreComment = true

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
no_implicit_optional = true
pretty = true
show_error_codes = true
show_error_context = true
strict_equality = true
warn_redundant_casts = true
# warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ['more_itertools', 'networkx', 'scipy.signal']
ignore_missing_imports = true
